<div class="app">
	<div class="header-container">
    <div class="header-logo inline-el"></div>
    <div class="nav-list inline-el">
      <span class="nav-item active">Offers</span>
      <span class="nav-item">Jobs</span>
    </div>
  </div>

  <div class="main-container">
    <div class="sort-container restrict-width">
      <div class="inline-el">Sort By:</div>
      <select class="inline-el sort-options">
        <option value="pickupDate">Pick Up Date</option>
        <option value="dropoffDate">Drop Of Date</option>
        <option value="price">Price</option>
        <option value="origin">Origin</option>
        <option value="destination">Destination</option>
        <option value="miles">Distance</option>
      </select>
    </div>

    <div class="list-container restrict-width">
      
    </div>

    <div class="footer-container restrict-width"> 
      <div class="show-more-btn inline-el">Show More</div>
    </div>
  </div>

  <div class="author-name">Archana Anand's Homework</div>

</div>