* {
	box-sizing: border-box;
}

@font-face {
  font-family: proxi;
  src: url(proximanova-regular.otf);
}
body {
	padding: 28px;
	margin: 0;
	min-width: 1024px;
	font-family: proxi;
}

.main-container {
	
}

.floating-div {
	position: relative;
	float: left;
}
.floating-right-div {
	position: relative;
	float: right;
}
.inline-el {
	display: inline-block;
	vertical-align: top;
}