* {
	box-sizing: border-box;
}
body {
	padding: 30px;
	margin: 0;
	min-width: 1024px;
}

.main-container {
	
}

.floating-div {
	position: relative;
	float: left;
}
.floating-right-div {
	position: relative;
	float: right;
}
.inline-el {
	display: inline-block;
	vertical-align: top;
}