<div class = "header-right-container inline-el header-container">
	<div class="team-members inline-el">Team Members</div>
	<div class="close-icon inline-el">+</div>
</div>
<div class="call-duration-container team-call-show">
	<div class="team-button-disconnect button-circle inline-el"></div>
	<div class="team-member-name inline-el">Jaqueline Fernanded</div>
	<div class="team-timer inline-el">00:00</div>
</div>
<div class = list-team-member>
	<% for(var index=0; index<collection.length; index++) {%>
		<%var activeClass = ""%>
		<%if (index == 1) activeClass = 'active'%>
		<div class="list-item-member-container <%= activeClass %>" data-id = "<%= collection[index].id %>">
			<div class="member-pic inline-el">
				<%var className = 'offline'%>
				<%if (collection[index].online) className = 'online'%>
				<div class="member-online inline-el <%= className %>"></div>
			</div>
			<div class="member-name inline-el"><%= collection[index].name %></div>
		</div>
	<% }%>
</div>