<div class="main-container">
	<div class="row-1">
		<!-- <div class="btn-1 btn"> Btn 1</div>
		<div class="btn-2 btn"> Btn 2</div> -->
	</div>

	<div class="row-2">
		<!-- <div class="btn-1 btn"> Btn 1</div>
		<div class="btn-2 btn"> Btn 2</div> -->
	</div>


	<div class="form-1">
	</div>

	<div class="form-2">
	</div>

<!-- 	<div class="form-1">
		<input type="text" value="Box 1"/>

		<div class="red box"></div>
	</div>

	<div class="form-2">
		<input type="text" value="Box 2"/>

		<div class="blue box"></div>
	</div> -->
</div>